body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: left;
  box-sizing: border-box;
  margin: 0 auto;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: left;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  width: 262px;
  border-radius: 2px 2px 0 0;
}

div {
  border: 1px solid rgb(9, 9, 9);
  border-top: none;
  width: 250px;
  font-family: "Montserrat";
  color: rgb(11, 10, 10);
  padding-left: 10px;
}
